<?xml  version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="DBTableInfoLoader" class="cn.net.dbi.table.load.DBTableInfoLoader">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	 
	<bean id="tableCacheProxy" class="cn.net.dbi.boom.cache.CacheProxy">
		<property name="cacheName" value="tableCache" />
	    <property name="cacheImpl">
	      <value>cn.net.dbi.table.model.TableInfo</value>
	    </property>
	    <property name="initMethod">
	      <value>init</value>
	    </property>
	    <!-- 
	    <property name="writeMethod">
	      <list>
	        <value>init</value>
	      </list>
	    </property>
	     -->
	    <property name="readMethod">
	      <list>
	        <value>getTables</value>
	      </list>
	    </property>
	    <property name="cacheProperties">
	      <map>
	        <entry key="loader" value-ref="DBTableInfoLoader" />
	      </map>
	    </property>
	</bean>
	
	<bean id="tableService" class="cn.net.dbi.table.service.TableService">
		<property name="dao" ref="commonHibernateDao"/>
	</bean>
	
</beans>